* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: slategray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-decoration: none;
    
}


header {
    padding: 30px;
    margin: 10px;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
}


ul {
    color: white;
    text-align: center;
    list-style-type: none;
    display: block;
    gap: 5rem;
    padding-top: 20px;
    font-weight: bolder;
 
}

.header ul {
    text-align: center;
    display: inline-flex;
}

h2 {
    text-align: center;
    color: white;
    font-size: large;
    padding-bottom: 30px;
    
}

img {
    display: block;
    align-items: center;
    justify-items: center;
    background-position: center;
    max-height: 400px;
    margin: auto;
    border-width: 15px;
    border-color: white;
    padding-bottom: 70px;
}

p {
    display: block;
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 30px;
    justify-items: center;
    text-align: center;
}


#Jacket {
    max-height: 350px;
    padding-bottom: 70px;
}

.contact {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 70px;
}